/* moblie and tablet*/
@media only screen and (max-width: 63.9375em){
    .header-menu{
        display: none;
    
    }
    .header-icon-user{
        display: none;
    }
    .header-link{
        width: 20%;
    }
    i.bx-menu{
        width: 20%;
        display: block;
    }
    .header-icon-bag:hover .header-icon-bag-msg{
        display: none;
    }
    .menu_tabphone{
        margin-top: 5px;
        width: 100%;
        display: block;
        box-shadow: 2px 2px 5px #d8d8d8;
        position: fixed;
        z-index: 5;
    }
    .menu_tabphone ul li a{
        padding: 15px 16px;
        line-height: 20px;
        font-size: 17px;
        color: #000;
        font-weight: 500;
    }
    .top-menu{
        width: 100vw;
        background-color: #fff;
    }
    .top-menu li:hover a{
        background-color: #fff;
    }
    .menu2{
        list-style: none;
    }
    .menu2_tabphone{
        background-color: #fff;
        width: 100%;
        padding-left: 20px;
        box-shadow: 2px 2px 5px #d8d8d8;
        position: fixed;
        margin-top: 55px;
        display: none;
        z-index: 1;

    }
    .menu2_tabphone .menu2 li{
        padding: 20px 20px 20px 0px;
        border-bottom: 1px solid #d0d0d0;
        color: #000;
    }
    .menu2_tabphone .menu2 li a{
        font-size: 16px;
        color: #000;
    }
    .menu2 li.li_last{
        border: none;
    }
    i.bx-x{
        display: none;
        width: 20%;
    }
    .background-header{
        margin-top: 55px;
    }
    .header-icon {
    padding: 15px 8px;
    font-size: 27px;
    }
    .header-icon-bag-number{
        top: 30px;
    right: 5px;
    }
    .search{
        z-index: 9999;
    }
    .container_input{
        z-index: 99999;
    }
    .main_left{
        display: none;
    }
    .main_right{
        width: 100%;
        z-index: 0;
    }
    .form_login{
        width: 90%;
        z-index: 0;
    }
    .login{
        z-index: 0;
    }
    .main_form_register{
        background-position:center !important;
        margin-top: 50px;
    }
/* footer */
i.bx.bx-chevron-down.down_title{
    display: block;
    }

    .header_title-block{
        border-bottom: 1px solid #ccc;
        align-items: center;
        padding: 10px 0;
    }

    .header_title-block h2{
        margin: 0;
    }

    .list_title{
        display: none;
    }

    .grid.wide.footer_container{
        border: none;
    }

    .last_text{
        width: 100%;
        margin-top: 20px;
    }

    .footer_logo_last {
        display: none;
    }

    .footer_icon{
        width: 100%;
        justify-content: center;
    }

    .footer_block{
        height: 245px;
    }

    .footer_grid{
        height: 610px;
        overflow: hidden;
    }

    .footer_newsletter{
        width: 85%;
    }

/* end */

/* cart */
    .cart_infor{
        margin-top: 50px;
    }
    .cart_infor-check{
        justify-content: center;
    }
    .infor-check{
        margin-right: 10px;
    }
    .project_item-product{
        margin-bottom: 0;
    }
    .product_list{
        display: none;
    }

    .banner_product img{
        border-radius: 15px;
    }

}
/* moblie */
@media only screen and (max-width: 46.25em){
    .background-header{
        width: 100%;
        height: 230px;
        overflow: hidden;
    }
    .background-header-img{
        width: 100%;
    }
    .menu_tabphone ul li a {
        padding: 15px 7px;
        line-height: 14px;
        font-size: 15px;
        color: #000;
        font-weight: 500;
    }
    .background-header{
        margin-top: 44px;
    }
    .menu2_tabphone{
        margin-top: 44px;
    }
    .menu2_tabphone .menu2 li a{
        font-size: 15px;
    }
    .register .input{
        padding: 10px;
    }
    .register .day input{
        padding: 9px;
    }
    .login-btn-register{
        padding: 9px;
    }
/* footer */
    .grid.wide.footer_container{
        margin-left: 5px;

        font-size: 13px;
    }

    .content_text{
        font-size: 15px;
    }
    h2.title_block{
        font-size: 16px;
    }

    .footer_icon{
        font-size: 20px;
    }
    .heading_newsletter{
        font-size: 20px;
    }

    .footer_newsletter p{
        font-size: 12px;
    }
    .input_newsletter{
        padding: 10px;
    }
    .btn_newsletter{
        width: 85px;
    }
    .topic_content-item img{
        /* height: 174px; */
        margin-bottom: 10px;
    }
    .topic_content{
        margin-left: 0;
        margin-right: 0;
    }
/* end */
    
    .project_item{
        height: auto;
        margin-top: 20px;
    }
    .price-1 {
        font-size: 13px;
    }
    .price-2{
        font-size: 12px;
    }
    .block_items {
        padding: 20px 0;
    }
    .project_details-name{
        font-size: 16px;
        margin: 10px 0 0 0;
    }
    .project_img{
        max-height: 65%;
    }
    .project_item:hover{
        transform: translateY(-3px);
        box-shadow: 0px 5px 10px 1px rgba(147, 147, 147, 0.7);
    }

    .select_product{
        padding: 8px;
        border-radius: 10px;
        font-size: 13px;
        float: right;
    }
    .banner_product {
        margin-bottom: 15px;
    }
    .star-review::before {
        
        width: 45%;

    }
    .description-title{
        font-size: 20px;
    }
    .description-txt{
        font-size: 14px;
        line-height: 20px;
    }
    .product_description{
        padding: 20px;
    }
    .review_title {
        font-size: 20px;
    }
    .choose-cate{
        height: 100%;
        width: 100%;
    }
    .choose-txt{
        font-size: 12px;
    }
    .choose-container{
        margin-top: 30px;
        margin-bottom: -30px;
    }


}
/* ipad */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .background-header{
        width: 100%;
        height: 370px;
        overflow: hidden;
        object-fit: cover;
    }
    .topic_content-item img{
        /* height: 270px; */
        margin-bottom: 20px;
    }
    .title_items {
        padding-bottom: 15px;
    }
    .project_item{
        height: auto;
        margin-top: 20px;
    }
    .project_img{
        min-height: 55%;
        max-height: 60%;
    }
    .price-1 {
        font-size: 14px;
    }
    .price-2{
        font-size: 13px;
    }
    .block_items {
        padding: 20px 0;
    }
    .star-review::before {
        
        width: 70%;

    }
    .topic_content-item img{
        margin-bottom: 15px;
        
    }
    .choose-cate{
        width: 100%;
        padding: 0 15px;
    }
}